.container {
    margin: 70px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
}

.input {
    margin: 0px 20px;
    border-radius: 25px;
    border: 2px solid grey;
    font-size: 3vw;
    width: 120px;
    height: 70px;
    text-align: center;
}

.plus {
    border: 1px solid gray;
    border-radius: 15px;
    background-color: grey;
    color: white;
    padding: 10px;
    font-weight: 900;
    font-size: 3vw;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus:hover {
    background-color: white;
    color: grey;
}

.minus {
    border: 1px solid gray;
    border-radius: 15px;
    background-color: grey;
    color: white;
    padding: 10px;
    font-weight: 900;
    font-size: 3vw;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus:hover {
    background-color: white;
    color: grey;
}

.display {
    font-size: 4vw;
    font-weight: 900;
}